.App {
  text-align: center;
}

.brewery-logo{
  float:left;
  width:350px;
  height:auto;
  margin-top:20px;
}

#beer-listing {
  padding:20px 10px;
}
#beer-listing:nth-last-of-type(2){
  background-color:#eeeeee;
  border-radius:10px;
}
